* {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  background-color: #f9f9f9;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.wrapp {
  margin: 0 auto;
}

.header {
  background: #fff;
  padding: 10px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 70px;
}

.cart {
  background: #84bd93;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  color: #fff;
}

.cart span {
  margin: 0 7px;
}
.cart__delimiter {
  background: #7c7b7b;
  width: 2px;
  height: 20px;
  margin: 0 7px;
}

.contant {
  padding-top: 30px;
}

.contant__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories ul {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.categories li {
  font-size: 20px;
  color: #292f32;
}

.categories li.active {
  color: red;
}

.sort {
  position: relative;
}

.sort__popup {
  position: absolute;
  right: 0;
}

.sort__label b {
  margin-right: 10px;
}

.sort__label span {
  border-bottom: 1px dashed #84bd93;
  color: #84bd93;
  cursor: pointer;
}

.sort__popup {
  background: #fff;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 0;
  position: absolute;
  right: 0;
}

.sort__popup li {
  padding: 6px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sort__popup li:hover {
  color: #84bd93;
}

.contant-items {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.card {
  background: #fff;
  box-shadow: 0 0 15px rgb(81 92 98 / 10%);
  -webkit-box-shadow: 0 0 15px rgb(81 92 98 / 10%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card__content {
  padding: 0 20px;
}

.card__name {
  color: #292f32;
  margin-top: 15px;
}

.card__desc {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 1.2;
  color: #666666;
  margin-bottom: 10px;
}

.card__row {
  display: flex;
  justify-content: space-between;
}

.card__btn {
  background: #fff;
  border-radius: 12px;
  display: block;
  height: 36px;
  width: 100%;
  cursor: pointer;
  border: solid 1px #bfc5c7;
  margin-top: 10px;
  transition: 0.3s;
}

.card__btn:hover {
  border-color: #ff4157;
  background: #ff4157;
  color: white;
}
