* {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  background-color: #f9f9f9;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapp {
  margin: 0 auto;
}

.header {
  background: #fff;
  padding: 10px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 70px;
}

.cart {
  background: #84bd93;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  color: #fff;
}

.cart span {
  margin: 0 7px;
}
.cart__delimiter {
  background: #7c7b7b;
  width: 2px;
  height: 20px;
  margin: 0 7px;
}

.contant {
  padding-top: 30px;
}

.contant__top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.categories ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 25px;
  cursor: pointer;
}

.categories li {
  font-size: 20px;
  color: #292f32;
}

.categories li.active {
  color: red;
}

.sort {
  position: relative;
}

.sort__popup {
  position: absolute;
  right: 0;
}

.sort__label b {
  margin-right: 10px;
}

.sort__label span {
  border-bottom: 1px dashed #84bd93;
  color: #84bd93;
  cursor: pointer;
}

.sort__popup {
  background: #fff;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 0;
  position: absolute;
  right: 0;
}

.sort__popup li {
  padding: 6px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sort__popup li:hover {
  color: #84bd93;
}

.contant-items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 254px);
  justify-content: space-between;
  gap: 30px 10px;
  @media (max-width: 1130px) {
    grid-template-columns: repeat(3, 254px);
  }
  @media (max-width: 830px) {
    grid-template-columns: repeat(2, 254px);
    justify-content: space-around;
  }
  @media (max-width: 550px) {
    grid-template-columns: repeat(1, 254px);
  }
}

.card {
  width: 254px;
  background: #fff;
  box-shadow: 0 0 15px rgb(81 92 98 / 10%);
  -webkit-box-shadow: 0 0 15px rgb(81 92 98 / 10%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &__btn {
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 36px;
    width: 100%;
    cursor: pointer;
    border: solid 1px #bfc5c7;
    margin-top: 10px;
    transition: 0.3s;
  }
  &__count {
    background-color: #84bd93;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    color: #fff;
  }
}

.card__content {
  padding: 15px 20px;
}

.card__name {
  color: #292f32;
}

.card__desc {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 1.2;
  color: #666666;
  margin-bottom: 10px;
}

.card__row {
  display: flex;
  justify-content: space-between;
}

.card__btn:hover {
  border-color: #ff4157;
  background: #ff4157;
  color: white;
}

.cart-content {
  margin: 0 auto;
  &__title {
    margin: 50px auto 0;
    text-align: center;
  }
  &__btn {
    display: block;
    margin: 40px auto 10px;
    background: #7ebd8f;
    color: #fff;
    border: none;
    width: 175px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
  }
}
.cart-item {
  background: #e0f9e6;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.cart-item__left {
  display: flex;
  align-items: center;
}

.cart-item__img {
  width: 90px;
  height: auto;
  margin-right: 20px;
}

.cart-item__name {
  color: #292f32;
  margin-bottom: 5px;
}

.cart-item__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-item__desc {
  font-size: 12px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 1.2;
  color: #666666;
}
.cart-item__count {
  display: flex;
  align-items: center;
  gap: 12px;
}
.cart-item__count button {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: solid 1px #b3bbbd;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
}
.cart-item__price {
  min-width: 36px;
}
.cart-item__remove svg {
  cursor: pointer;
}
.cart-item__remove > svg > path {
  fill: #292f32;
}
